.contendor-menu{

    width: 150px;
}

.menu{
    background: rgba(0, 0, 0, 0.3);
    padding: 5px;
    line-height: 30px;
}

.menu >li{

    list-style: none;
}
.menu >li>a{

    text-decoration: none;
}

.submenu >li{
    list-style: none;
}

.submenu >li>a{
    text-decoration: none;
}